header
	z-index set-index('overlay')
	position absolute
	top 0
	left 0
	width 100%
	background-color $white
	font-family 'Raleway'
	font-weight 200

	a.logo
		display block
		border none
		max-width 3rem
		margin 1rem auto

		svg
			fill $off-black
			display block
			width 100%
	
header.is-sticky
	position fixed
	transform translate3d(0,0,0)
	background-color $white
	box-shadow 0 0 7px 1px $gray-light
	height 4rem
	display flex
	align-items center
	
	a.logo
		margin 0 auto
	
	.header__toggle
		position fixed
		transform translate3d(0,0,0)
		top 0
		left 0
		padding 0.75rem
		padding-top 1.25rem
		cursor pointer
		line-height 1
		z-index set-index(overlay)
		border none 
		background-color transparent
		svg
			stroke $off-black
			&:hover
				stroke $green-logo
		span
			&:first-of-type
				display block
			&:last-of-type
				display none
		
		&.is-visible span
			&:first-of-type
				display none
			&:last-of-type
				display block
			svg
				stroke $off-white

	.header__menu
		position fixed
		top 0
		left 0
		transform translateX(-100%)
		height 100vh
		width 100%
		max-width min(18rem, 70vw)
		padding 4rem 0.5rem
		background-color $off-black
		color $off-white
		z-index set-index(overlay)
		transition transform 200ms ease-in-out
		+mq('bp-3')
			border-right 1px solid $gray-dark

		&.is-visible
			transform translateX(0)

		img
			color #f4f4f4
			position absolute
			bottom 0
			left 0
			right 0
			margin auto
			width 100px
			margin-bottom 4.5rem

		a
			color $off-white
			border-bottom 1px solid $off-white
			&:hover
				color $green-logo
		p
			color $off-white
			margin-top 0
			margin-left 1.5rem

		.menu__links
			display flex
			flex-wrap wrap
			flex-direction row
			+mq('bp-4')
				flex-direction column
			li
				font-family 'Avenir'
				font-weight 700
				text-transform uppercase
				margin-bottom 0.5em
				margin-left 1em
				padding-right 4rem
				set-type-size(large)
				+mq('bp-3')
					set-type-size(x-large)

		a.patreon-link
			font-family $sans-display
			font-weight 700
			text-transform uppercase
			border none
			background-color $white
			color $green-dark
			padding 0.5em 0.75em
			&:hover
				opacity 0.75

	.menu__patrons
		ul
			display flex
			flex-wrap wrap
		li
			&:after
				display inline
				content ','
				margin-left 0.25em
			&:last-of-type:after
				content '.'
		// li
		// 	set

// dark color version
header.is-sticky.is-dark
	background-color $green-dark
	box-shadow 0 0 7px 1px $green-dark

	svg
		path
			fill $off-white

	.header__menu
		background-color $green-dark
		color $white
		+mq('bp-3')
			border-left 1px solid $white

	a
		color $white
		border-bottom 1px solid $white
		&:hover
			color $green

	.header__toggle
		svg
			stroke $white
		
		&.is-visible span
			svg
				stroke $white


