.intro
	margin-left 1vw
	margin-right 1vw
	padding-left 1rem
	padding-right 1rem
	padding-top 1rem

	&__hed
		max-width 60rem
		margin 0 auto
		text-align center
		
	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
	
	&__prelude
		font-family "Avenir"

	&__byline
		font-family "Avenir"
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
	
	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
