<footer class='wanderwhim-footer'>

    <div class='footer-recirc'>
        <div class='footer-recirc__articles'></div>
    </div>
    
    <div class="footer-bg">
      <div class="overlay">
        <div class="footer visible-desktop-flex">
          <!-- <div class="col-lg-2 col-sm-3"></div> -->
          <!-- Twitter -->
          <a href="https://twitter.com/wanderwhimdata" target='_blank' class="col-md-3 logo-container">
            <i class="fa fa-twitter fa-3x logo" aria-hidden="true"></i>
            <h4 class="text-centered link-text-color">Twitter</h4>
          </a>

          <!-- Facebook -->
          <a href="https://www.facebook.com/wanderwhimdata/" target='_blank' class="col-md-3 logo-container">
            <i class="fa fa-facebook fa-3x logo" aria-hidden="true"></i>
            <h4 class="text-centered link-text-color">Facebook</h4>
          </a>
          <!-- Instagram -->
          <a href="https://instagram.com/wanderwhimdata/" target='_blank' class="col-md-3 logo-container">
            <i class="fa fa-instagram fa-3x logo" aria-hidden="true"></i>
            <h4 class="text-centered link-text-color">Instagram</h4>
          </a>

          <!-- Patreon -->
          <a href="https://www.patreon.com/wanderwhim?#reactTarget" target='_blank' class="col-md-3 logo-container">
            <i class="fa fa-patreon fa-3x logo" aria-hidden="true"></i>
            <h4 class="text-centered link-text-color">Patreon</h4>
          </a>
        </div>

        <div class="footer visible-device-flex" style="margin: 0 !important; padding: 0 !important;">
          <!-- <div class="col-lg-2 col-sm-3"></div> -->
          <!-- Twitter -->
          <a href="https://twitter.com/wanderwhimdata" target='_blank' class="col-sm-3 logo-container-mobile">
            <i class="fa fa-twitter fa-3x logo" aria-hidden="true"></i>
          </a>

          <!-- Facebook -->
          <a href="https://www.facebook.com/wanderwhimdata/" target='_blank' class="col-sm-3 logo-container-mobile">
            <i class="fa fa-facebook fa-3x logo" aria-hidden="true"></i>
          </a>
          <!-- Instagram -->
          <a href="https://instagram.com/wanderwhimdata/" target='_blank' class="col-sm-3 logo-container-mobile">
            <i class="fa fa-instagram fa-3x logo" aria-hidden="true"></i>
          </a>

          <!-- Patreon -->
          <a href="https://www.patreon.com/wanderwhim?#reactTarget" target='_blank' class="col-sm-3 logo-container-mobile">
            <i class="fa fa-patreon fa-3x logo" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      </div>
    </div>
</footer>
    