<div class='header__menu tk-national'>
	<p class='menu__tagline'><a href='http://wanderwhim.com' target='_blank'>Wanderwhim</a> is a creative visualization space built to explore unique datasets, topics, questions and ideas.</p>
	<ul class='menu__links'>
		<li><a href='http://wanderwhim.com/#new' target='_blank'>What’s New</a></li>
		{{!-- <li><a href='http://wanderwhim.com/archives' target='_blank'>All Essays</a></li> --}}
		<li><a href='http://wanderwhim.com/about/' target='_blank'>About Us</a>
	</ul>
	<img src="../assets/images/wanderwhim-official-inverse.png" class="bottom-logo">
{{!-- 	<p class='menu__patreon'>We pour our ❤️ into these stories, but they take time and money. For just $1/month, you can help support us. Join our
	growing community of data-driven enthusiasts.</p>
	<a class='patreon-link' href='https://www.patreon.com/wanderwhim' target='_blank'>Help fund us</a> --}}
	{{!-- {{> base/patrons }} --}}

</div>
<button class='header__toggle'>
	<span><img inline src='menu.svg'></span>
	<span><img inline src='x.svg'></span>
</button>
